@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-alata: 'Alata', sans-serif;
  --font-josefin-sans: 'Josefin Sans', sans-serif;
}

.font-alata {
  font-family: var(--font-alata);
}

.font-josefin {
  font-family: var(--font-josefin-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bg-hero {
  background-image: url('/images/mobile/image-hero.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;


}

@media screen and (min-width:768px) {
  .bg-hero {
    background-image: url('/images/desktop/image-hero.jpg');
  }
}