@tailwind base;
@tailwind components;
@tailwind utilities;

.text-ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.text-overpass {
  font-family: "Overpass", sans-serif;
}

.hero {
  width: 100%;
  background: url('/images/bg-pattern-intro-desktop.svg'), linear-gradient(90deg, rgb(255, 143, 112) 20% , rgb(255, 61, 84) 90%);
  height: 600px;
  background-position: 25% -1346px;
  border-bottom-left-radius: 100px;
}

@media screen and (max-width:768px) {
  .hero {
    background: url('/images/bg-pattern-intro-mobile.svg'), linear-gradient(to right bottom, rgb(255, 143, 112) 10%, rgb(255, 61, 84) 58%);
    background-position: top 37% left 30%;
    background-size: 80rem;


  }
}

.btn {
  @apply px-1 py-3 border rounded-full w-[140px] text-ubuntu text-base font-bold
}